* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --blue-gray-50: #E6E6F0;
  --blue-gray-100: #BFD7E4;
  --blue-gray-800: #253B51;
  --blue-gray-900: #293241;

  --gray-50: #FAFAFC;
  --gray-500: #9C98A6;
  --gray-800: #4E4958;

  --deep-purple-100: #C1BCCC;

  --red-300: #F67669;
  --red-400: #ff593f;

  --brand: var(--red-300);
  --brand-hover: var(--red-400);
  --stroke: var(--blue-gray-50);

  --outline-size: 2px;
}

.col-2 {
  display: flex;
  gap: 2.2rem;
}

.col-2 > .col-2 {
  gap: 1rem;
}

body {
  background: var(--blue-gray-100);

  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  padding: 0 4.8rem;
}

body::before {
  content: '';

  background: var(--blue-gray-900);
  display: block;

  height: 46.5rem;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.page {
  margin: auto;
  max-width: 75rem;

  padding: 10rem 0;
}

h1, h2, legend, button {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
}

header {
  color: white;

  text-align: center;
}

header h1 {
  font-size: 3.6rem;
}

header h2 {
  line-height: 3.3rem;
}

header p {
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

header img {
  margin-bottom: 3.2rem;
  width: 22.5rem;
}

header .top {
  background: var(--brand);
  border-radius: 2rem 2rem 0 0;
  color: white;
  
  padding: 5rem 0;
}

form {
  background: white;
  border-radius: 0 0 2rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  padding: 3.2rem 6.4rem 6.4rem;
}

form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

form button {
  background: var(--brand);
  border: none;
  border-radius: 0.8rem;

  color: white;
  font-size: 2rem;
  line-height: 2.6rem;

  padding: 1.5rem 4rem;

  cursor: pointer;
  transition: background 0.2s;
}

form button:hover {
  background: var(--brand-hover);
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

fieldset legend {
  border-bottom: 1px solid var(--stroke);

  color: var(--blue-gray-800);
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;

  padding-bottom: 0.8rem;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 100%;
}

.input-wrapper label,
.checkbox-wrapper label {
  color: var(--gray-800);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.input-wrapper label span {
  color: var(--deep-purple-100);
  font-size: 1.2rem;
  line-height: 2rem;

  margin-left: 0.8rem;
}

.input-wrapper input,
.input-wrapper textarea {
  background: var(--gray-50);
  border: 1px solid var(--stroke);
  border-radius: 0.8rem;

  font-size: 1.6rem;
  line-height: 2.4rem;

  padding: 1.5rem 2.4rem;
  width: 100%;
}

.input-wrapper textarea {
  height: 16.6rem;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  height: 2.4rem;
  width: 2.4rem;

  position: absolute;
  opacity: 0;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkbox-wrapper label::before {
  content: '';

  background: var(--gray-50);
  border: 1px solid var(--stroke);
  border-radius: 0.8rem;

  display: block;
  height: 2.4rem;
  width: 2.4rem;
  min-height: 2.4rem;
  min-width: 2.4rem;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url(./assets/check.svg);
}

.input-wrapper input:focus,
.input-wrapper textarea:focus,
.checkbox-wrapper input:focus + label::before,
button:focus
 {
  box-shadow:
    0px 0px 0px var(--outline-size) white,
    0px 0px 0px calc(var(--outline-size) * 2) var(--brand);

  outline: none;
}

@media (max-width: 900px) {
  .col-2 {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 2.4rem;
  }

  form {
    gap: 3.2rem;
    padding: 1.6rem 3.2rem 3.2rem;
  }
  
  .fieldset-wrapper {
    gap: 1.6rem;
  }
}
